<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <script type="module">
      import "virtual:uno.css";
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{description}}" />
    <meta name="theme-color" content="#ffffff" />
    <link
      rel="apple-touch-icon"
      href="/icons/apple-touch-icon.png"
      sizes="180x180"
    />
    <meta charset="utf-8" />
    <link rel="icon" href="/icons/favicon.ico" />
    <link rel="mask-icon" href="/icons/mask-icon.svg" color="#FFFFFF" />
    <!-- <link rel="icon" type="image/png" href="/icon.png" /> -->
    {% if js %}
    <script type="module" src="/@lib/{{js}}"></script>
    {% endif %}
  </head>
  <body class="{{class}}">
    {{content}}
  </body>
</html>
